DATABASE_URL=sqlite:///./data/app.db
# Para Turso: DATABASE_URL=libsql://<db-name>.turso.io
TURSO_AUTH_TOKEN=
APP_NAME=VR Score API
APP_ENV=dev
CORS_ORIGINS=http://localhost:4321,http://127.0.0.1:4321,https://3dd6-168-194-149-195.ngrok-free.app
FIBRA_LOOKUP_URL=https://www.fibratelecom.ec/contrato/busqueda_contracto/?cedula=
FIBRA_LOOKUP_TIMEOUT_SECONDS=6
